.img {
    width: 150px;
    height: 150px;
    margin: -35px 0 0 50px;
}
.btnCancelar {
    width: 150px;
    border-radius: 2px;
    margin-right: 25px;
}
.btnOk {
    width: 150px;
    background-color: white;
    border: 2px solid #c51a21;
    border-radius: 5px;
}