<ion-header>
  <!--
  <ion-toolbar>
    <ion-title>
      Meu perfil
    </ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="9">
          <ion-card-header>
              <ion-row>
                <ion-col size="1">
                  <ion-avatar class="tamanho">
                    <img src="../../assets/rodsena.jpg">
                  </ion-avatar>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>
            <ion-card-title>Rodrigo Sena</ion-card-title>
            <ion-card-subtitle>Perfil Novato</ion-card-subtitle>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-card-header>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="notifications" color="japp"></ion-icon>
            <ion-label>Notificações</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="cash" color="japp"></ion-icon>
            <ion-label>Formas de pagamento</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart" color="japp"></ion-icon>
            <ion-label>Favoritos</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="car" color="japp"></ion-icon>
            <ion-label>Endereço</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="settings" color="japp"></ion-icon>
            <ion-label>Configurações</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
