<ion-header>
  <!--
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content color="japp" scroll-y="false" scroll-x="false">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <img src="../../assets/logo3.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="japp" class="inputLogin">
          <ion-icon name="ios-person" position="fixed" class="iconeLogin"></ion-icon>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item color="japp" class="inputLogin">
          <ion-icon name="ios-lock" position="fixed" class="iconeLogin"></ion-icon>
          <ion-input inputmode="password" type="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-button color="japp" class="btnReg" (click)="navigateToReg()">Registrar</ion-button>
      </ion-col>
      <ion-col size="2" align-self-center>
        <ion-text color="light">
          - OU -
        </ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-button color="light" class="btnEntrar" (click)="navigateToInicio()">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
