.iconeLogin {
    margin-right: 10px;
}
.btnReg {
    width: 140px;
    border: 2px solid white;
    border-radius: 2px;
}
.btnEntrar{
    width: 140px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
}
.inputLogin {
    font-size: 18px;
    border: 2px solid white;
    border-radius: 2px;
}