<ion-header>
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Pedidos</ion-label>
          </ion-list-header> 
          <ion-item>
              <ion-label color="japp">
                Segunda-feira 10/
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
